.App {
  text-align: center;
}

.cards {
  min-width: 200px;
  margin: 5px;
}

.header-container {
  max-width: 1350px;
  max-height: fit-content;
  position: sticky;
  left: calc((100vw - 1350px)/2)
}

.page-footer {
  margin-top: 20px;
}

.search-box {
  margin-top: 20px;
}