.App {
  text-align: center;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-items: end;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-top: 30px;
}

.cards {
  display: block;
  max-height: max-content;
  border-style: solid;
  border: white 2px 4px;
  padding: 3px;
  margin: 5px;
}
