.App {
  text-align: center;
  color: white;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-items: end;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-top: 30px;
}

.cards {
  min-width: 200px;
  margin: 5px;
}

