.cat-page {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.cats-image{
  align-self: center;
}

.cats-title {
    place-self: center;
    color: burlywood;
    margin-top: 50px;
    margin-bottom: 50px;
}


.cats-input {
  width: fit-content;
  height: 30px;
  font-size: large;
  place-self: center;
  margin-bottom: 50px;
}
