.container {
  background-color: #282c34;
  height: 100vh;
  width: 100vw;
  display: grid;
}

h1 {
    place-self: center;
    color: burlywood;
}

img {
  align-self: center;
  place-self: center;
  max-width: 500px;
}

input {
  width: fit-content;
  height: 30px;
  font-size: large;
  align-self: center;
  place-self: center;
  margin-bottom: 10px;
}
