.dogs-container {
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    flex-direction: column;
}

.dog-title {
    place-self: center;
    color: burlywood;
    margin-top: 50px;
    margin-bottom: 50px;
}

.dog-image {
    width: 600px;
    place-self: center;
    margin: 50px 50px 50px 50px;
}

.dog-button {
    height: 30px;
    font-size: large;
    place-self: center;
    margin-bottom: 50px;
}