.container {
    background-color: #282c34;
    max-height: 100%;
    max-width: 100%;
}

h1 {
    place-self: center;
    text-align: center;
    color: burlywood;
}

.dog-image {
    max-height: 80vh;
    max-width: 100%;
}

.button-container {
    display: grid;
    gap: 10px;
    place-self: center;
}

button {
    align-self: center;
    max-width: fit-content;
    text-overflow: ellipsis;
    height: 30px;
    font-size: large;
    place-self: center;
}